/* Last updated Alpha 1.1.0 build 0029-b */

header {
    background: #003366;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: white;
}

.headerTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex-container {
    display: flex;
}

#navButton {
    background-color:white;
    border: none;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: gainsboro;
    border-radius: 15px;
}

#navButton:hover {
    background-color: gainsboro;
}