/* Last Updated Beta 1.0.0 build 0119 */

p {
    text-align: justify;
}

#header {
    width: 100%;
    position: fixed;
    transition: 0.2s;
    top: 0;
    right: 0;
    left: 0;
}

#footer {
    width: 100%;
    background-color: white;
    position: fixed;
    transition: 0.2s;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    background: #8723c1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: white;
    width: 100%;
}


footer {
    background: white;
    padding: 0em;
    color: black;
}

#headerTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    transition: 0.2s;
    font-size: 60px;
    margin-left: 20px;
    padding: 0px;
    float: left;
}

.flex-container {
    display: flex;   
}

#author {

}

#navBar {
    background-color: white;
    transition: ease-in-out 0.2s;
    border: solid 5px lightblue;
    border-left-color: white;
    border-right-color: white;
}

.navButton {
    cursor: pointer;
    background-color:white;
    border: none;
    transition: ease-in-out 0.2s;
    color: black;
    padding: 15px 15px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footerButton{
    cursor: pointer;
    background-color:white;
    border: none;
    transition: ease-in-out 0.2s;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    width: 10%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navButton:hover{
    background-color:gainsboro;
}

.footerButton:hover{
    background-color: gainsboro;
}

.navButton:focus {
    outline: none;
}

.footerButton:focus{
    outline: none;
}

#frontierLogo {
    float: left; 
    width: 5%; 
    transition: 0.2s;
    background-color: white; 
    border-radius: 20%; 
    border-width: 10px; 
    margin-left: 10px;
    padding: 10px;
}

.navDivider {
    border: thin 1px lightblue;
}

body::-webkit-scrollbar {
    overflow: visible;
    display: none;
    
}

#footerSearch {
    background: none;
    float: right;
    width: max-content;
    justify-self: right;
    margin-right: 2rem;
}
#footerSearch input[type=text] {
    float: right;
    padding: 6px;
    border: lightblue 1px;
    font-size: 25px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    background-color: whitesmoke;
    position: relative;
}

#footerSearch input:focus{
    outline: none;
    background-color: gainsboro;
}

#searchIco {
    background: lightblue;
    padding: 7px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    fill: white;
}

#searchIco:hover {
    background: lightskyblue;
}

#searchIco:focus {
    outline: none;
    fill: lightslategray;
}

#vMain {
    min-width: 100%;
    background-color: transparent;
    white-space: pre-line;
}

pre {
    white-space: pre-wrap;
    word-break: keep-all;
}