/* Last updated Alpha 1.2.0 build 0029-c */

header {
    background: #8723c1;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 20px;
    color: white;
}

.headerTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    font-size: 80px;
    margin-left: 20px;
    padding: 0px;
    float: left;
}

.flex-container {
    display: flex;
}

#navBar {
    background-color: white;
    border-top: tomato;
}

#navButton {
    background-color:white;
    border: none;
    color: black;
    padding: 15px 15px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: gainsboro;
    border-radius: 15px;
}

#navButton:hover{
    background-color:gainsboro;
}