/* Last updated Alpha 2.1.5 build 0030-i */

#header {
    width: 100%;
    position: fixed;
    transition: 0.2s;
    top: 0;
    right: 0;
    left: 0;
}
header {
    background: #8723c1;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    color: white;
}

#headerTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    transition: 0.2s;
    font-size: 60px;
    margin-left: 20px;
    padding: 0px;
    float: left;
    
}

.flex-container {
    display: flex;
}

#navBar {
    background-color: white;
    transition: ease-in-out 0.2s;
    border: solid 5px lightblue;
    border-left-color: white;
    border-right-color: white;
}

.navButton {
    cursor: pointer;
    background-color:white;
    border: none;
    transition: ease-in-out 0.2s;
    color: black;
    padding: 15px 15px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navButton:hover{
    background-color:gainsboro;
}

.navButton:focus {
    outline: none;
}

#frontierLogo {
    float: left; 
    width: 10%; 
    transition: 0.2s;
    background-color: white; 
    border-radius: 20%; 
    border-width: 10px; 
    padding: 10px;
}

.navDivider {
    border: thin 1px lightblue;
}

body::-webkit-scrollbar {
    overflow: visible;
    display: none;
    
}

body::-moz-


